<h2> Edit Story Notes </h2>

 <form method="post" action="/stories/<%=@story.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label for="title">Title: </label><input type="text" id="title" name="title" value="<%= @story.title %>"><br>
  <label for="genre">Genre: </label><input type="text" id="genre" name="genre" value="<%= @story.genre %>"><br>
  <label for="summary">Summary:  </label><input type="text" id="summary" name="summary" value="<%= @story.summary %>"><br>
  <label for="notes">Notes: </label><input type="text" id="notes" name="notes" value="<%= @story.notes %>"><br>
   <input type="submit" value="Save your changes.">

 </form>
