<div class="nameplate"><%= @user.username %></div>


 <a href='/stories/new'>Record a new story.</a>
<a href='/users/<%=@user.slug %>'>View all of your stories.</a>

 <h2> Stories: </h2>
<% Story.all.each do |story| %>
  <p><h3><%= story.title %></h3>
    <%= story.genre %><br>
    <em><%= story.summary %></em>
    <a href="/stories/<%=story.id%>">View/Edit Story</a>
  </p>
  <br>
<% end %>

 <a href='/logout'>Logout</a>
